<h1>Chores App</h1>
<ul>
  <li>
    avatar w/ level badge
  </li>
  <li>
    XP bar with xp multiplier display and preview for next reward
  </li>
  <li>
    list of tasks
  </li>
  <li>
    Display earned rewards
  </li>
</ul>